<form enctype="multipart/form-data" action="/feedback" method="post" class="form-horizontal">
  <legend>Create Feedback</legend>
  <div class="control-group">
    <label class="control-label" for="feedback_raw_text">Raw Text</label>
    <div class="controls">
      <textarea name="feedback[raw_text]" id="feedback_raw_text" rows="10" class="input-xxlarge"></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="feedback_original">Original</label>
    <div class="controls">
      <input type="file" name="feedback[original]" id="feedback_original">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="feedback_processed">Processed</label>
    <div class="controls">
      <input type="file" name="feedback[processed]" id="feedback_processed">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>

