<form enctype="multipart/form-data" action="/form" method="post"> 
  <input type="text" name="token">   
  <input type="text" name="content">  
  <input type="file" name="image">
  <input type="file" name="cropped_image">
  <input type="submit">  
</form> 
