<h1>All Feedback</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Raw Text</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
    <% feedback.each do |f| %>
      <tr>
        <td><%= f.id %></td> 
        <td>
          <% omission = "... <a href=\"feedback/#{f.id}/raw\" class=\"more-link\">(more)</a>" %>
          <%= f.raw_text.truncate(omission.length + 40, :omission => omission) if f.raw_text.present? %>
        </td>
        <td>
          <a href="<%= f.original.url %>">Original</a>
          |
          <a href="<%= f.processed.url %>">Processed</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a class="btn btn-primary" href="/feedback/create"><i class="icon-thumbs-up icon-white"></i> New Feedback</a>

