<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/colorbox.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.colorbox.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</head>

<body class="container">
  <%= yield %>
</body>

</html>
